﻿@model ASP.Reboot.Models.Note

@{
    ViewBag.Title = "Utwórz notatkę";
}

<h2>Utwórz notatkę</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.nazwa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">Nazwa</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nazwa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nazwa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.tresc, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">Treść</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.tresc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tresc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Publiczny</div>
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.publiczny)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
