﻿@model ASP.Reboot.Models.Note

@{
    ViewBag.Title = "Usuń notatkę";
}

<h2>Usuń notatkę</h2>

<h3>Jesteś pewny?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            Treść
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tresc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
