﻿@model IEnumerable<ASP.Reboot.Models.Note>

@{
    ViewBag.Title = "Lista notatek";
}

<h2>Lista notatek</h2>

<table class="table">
    <tr>
        <th>
            Nr
        </th>
        <th>
            Nazwa
        </th>
        <th>
            Treść
        </th>
    </tr>

    @{
        var i = 1;
        foreach (var item in Model) {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tresc)
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) 
                    @if((bool)ViewData["Admin"]) {
                        @Html.Raw("|");
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id })
                        @Html.Raw("|");
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
            i = i + 1;
        }
    }

</table>
