﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Repozytorium", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona domowa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Publiczna lista notatek", "publiclist", "notes")</li>
                    <li>@Html.ActionLink("Publiczna lista linków", "publiclist", "links")</li>
                    @if (Context.User.Identity.IsAuthenticated) {
                        <li>
                            @Html.ActionLink("Edytuj notatki", "index", "notes")
                        </li>
                            <li>
                                @Html.ActionLink("Edytuj linki", "index", "links")
                            </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Repozytorium</p>
            <p>Powered by <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">ASP.NET</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
