﻿@model ASP.Reboot.Models.Link
@using System.Linq

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            Link
        </dt>

        <dd>
            @Helper.LinkHelper(Model.url)
        </dd>

        <dt>
            Publiczny
        </dt>

        <dd>
            @if (Model.publiczny) {
                @Html.Raw("Tak")
            }
            else {
                @Html.Raw("Nie")
            }
        </dd>

        <dt>
            Autor
        </dt>
        <dd>
            @ViewData["author"]
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated) {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id })
        @Html.Raw("|")
        @Html.ActionLink("Powrót do listy", "Index")
    }
    else {
        @Html.ActionLink("Powrót od listy", "PublicList")
    }
</p>
