﻿@model ASP.Reboot.Models.Notatki

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notatki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treść)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Treść)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Użytkownik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Użytkownik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publiczny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publiczny)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
