﻿@model IEnumerable<ASP.Reboot.Models.Notatki>

@{
    ViewBag.Title = "Lista notatek";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj notatkę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treść)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Użytkownik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publiczny)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treść)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Użytkownik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publiczny)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
